body {
    background-color: rgb(174, 87, 255);
}

h1, h2 {
    color: white;
    font-size: 36px;
    font-family: monospace;
}

ul li {
    color: yellow;
    font-size: 22px;
    font-family: sans-serif;
}
