body {
    background-color: orange;
}

h1, 
h2,
h3 {
    color: white;
    font-size: 36px;
    font-family: monospace;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

li, 
p {
    color: black;
    font-size: 22px;
    font-family: serif;
}

a {
    font-family: monospace;
}

img {
    height: auto;
    width: 300px;
}
